# File maintained by salt ferm-formula
# Any changes to this file will be removed
#
# Update pillar: ferm:conntrack_helpers
#
{%- from "ferm/map.jinja" import config %}
{%- set helpers = config.conntrack_helpers %}
{%- if helpers and helpers is string %}
{%-     set helpers = [helpers, ] %}
{%- endif %}
domain ip {
   table filter {
      # Just making sure the wanted helpers get loaded
      chain helpers_placehorder {
{%- if helpers %}
          mod helper helper ( {{ helpers|join(' ') }} ) NOP;
{%- else %}
#          mod helper helper #-- no helper defined in pillars
{%- endif %}
      }
{%- if config.conntrack %}
      chain INPUT mod state state (ESTABLISHED RELATED) ACCEPT;
      chain OUTPUT mod state state (ESTABLISHED RELATED) ACCEPT;
{%- if config.get('rules', {}).get('forward') %}
      chain FORWARD mod state state (ESTABLISHED RELATED) ACCEPT;
{%- endif %}
{%- endif %}
   }
}
